flows_PC0JZ9LC.json
[{"id":"1635f96c.8c30a7","type":"tab","label":"HVS.Authenticate","disabled":false,"info":""},{"id":"2d32c820.3162e8","type":"tab","label":"HVS.LoadEntityTypes","disabled":false,"info":""},{"id":"249e89dc.f4e936","type":"tab","label":"HVS.AddEntities","disabled":false,"info":""},{"id":"3e7285b1.55ffea","type":"tab","label":"HVS.Cleanup Geofence","disabled":false,"info":""},{"id":"e9c3c1f9.b1633","type":"tab","label":"EDGE.JPEGEncode","disabled":false,"info":""},{"id":"252395d9.d6cf7a","type":"tab","label":"Track my Mobile","disabled":false,"info":""},{"id":"a02a3783.b02fa8","type":"tab","label":"MobileTracking","disabled":false,"info":""},{"id":"529dab81.ac7574","type":"tab","label":"Edge.ProcessAlert","disabled":false,"info":""},{"id":"481cb8b4.e65818","type":"tab","label":"LFM.Initiate","disabled":false,"info":""},{"id":"7a2cec45.2ae184","type":"tab","label":"LFM.Edge.ExtractChanges","disabled":false,"info":""},{"id":"b77691f7.3cf1c","type":"tab","label":"LFM.Core.Process.Changes","disabled":false,"info":""},{"id":"4529373b.028ad8","type":"tab","label":"LFM.Core.Download.Edge.Updates","disabled":false,"info":""},{"id":"f330dad5.b30ca8","type":"tab","label":"LFM.Edge.Download","disabled":false,"info":""},{"id":"4bb6a391.1b8fdc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"763918a.991f3e8","type":"subflow","name":"Get Random Coordinates","info":"","in":[{"x":40,"y":160,"wires":[{"id":"27469a3f.d2fc96"},{"id":"faae833d.9bff1"}]}],"out":[{"x":660,"y":200,"wires":[{"id":"4a9db12f.2907f","port":0}]}]},{"id":"ccd9021.10614","type":"subflow","name":"Get Weather (Australia)","info":"","in":[{"x":80,"y":140,"wires":[{"id":"a7481239.53437"}]}],"out":[]},{"id":"8e70176d.0626d8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7258f4a1.0213ac","type":"twitter-credentials","z":"","screen_name":"kroscarel"},{"id":"8839ce78.a5a7f","type":"ftp","z":"","host":"ftp2.bom.gov.au","port":"","secureOptions":"","user":"","connTimeout":"","pasvTimeout":"","keepalive":"","password":""},{"id":"91b0fc5a.24179","type":"geofence-manager","z":"","name":"Geofence manager","geofences":{"fa68bd80.916fe":{"type":"Feature","properties":{},"geometry":{"type":"Polygon","coordinates":[[[144.904175,-37.963689],[144.750109,-37.965651],[144.709167,-37.786996],[144.750109,-37.6075],[145.027771,-37.589207],[145.307665,-37.6075],[145.331268,-37.849917],[145.276337,-38.091337],[144.904175,-37.963689]]]}}}},{"id":"9e523b26.5398f8","type":"mqtt-broker","z":"","name":"TestMobile","broker":"m11.cloudmqtt.com","port":"15182","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b3a48f28.1529d","type":"mqtt-broker","z":"","name":"","broker":"m21.cloudmqtt.com","port":"18916","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"826ae40d.7a7cf8","type":"ui_group","z":"","name":"Controls","tab":"ee76580.9ad31a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"cdfbb9fd.17db08","type":"ui_group","z":"","name":"Map","tab":"ee76580.9ad31a8","order":1,"disp":true,"width":"19","collapse":false},{"id":"ee76580.9ad31a8","type":"ui_tab","z":"","name":"Owntracks","icon":"dashboard"},{"id":"889879b9.1a5db8","type":"MySQLdatabase","z":"252395d9.d6cf7a","host":"localhost","port":"3306","db":"MobileDevice","tz":""},{"id":"2e73232a.4c0c1c","type":"inject","z":"e9c3c1f9.b1633","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1869,"y":214,"wires":[[]]},{"id":"3c43b88e.68d268","type":"debug","z":"e9c3c1f9.b1633","name":"","active":true,"console":"false","complete":"false","x":2265,"y":311,"wires":[]},{"id":"f1bbfe08.c04fb","type":"function","z":"529dab81.ac7574","name":"Flow 1 : Setup mail content","func":"msg.topic = \"Result flow 1\";\n\nmsg.payload = \"Dear,<br><br>Your PIR detector has detected movement in the living room.<br>In attachment you can find a camera snapshot.<br><br>Kind regards,<br>Your Node-Red flow\";\n\nmsg.attachments = [{\n    filename: 'local_image.jpg',\n    path: '/tmp/local_image.jpg',\n    content: msg.payload\n}];\n        \nreturn msg;","outputs":1,"noerr":0,"x":480,"y":140,"wires":[["300fe394.59531c"]]},{"id":"efa63f8d.e2d55","type":"inject","z":"529dab81.ac7574","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":69.75779914855957,"y":141.40221786499023,"wires":[["72709258.4dae7c"]]},{"id":"cbc23a21.6f9c08","type":"change","z":"529dab81.ac7574","name":"Flow 2 : Setup mail content","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": 'camera_snapshot.jpg', \t    \"content\": $$.payload\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Result flow 2","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Dear,<br><br>Your PIR detector has detected movement in the living room.<br>In attachment you can find a camera snapshot.<br><br>Kind regards,<br>Your Node-Red flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":477.7577819824219,"y":201.40229415893555,"wires":[["300fe394.59531c"]]},{"id":"300fe394.59531c","type":"e-mail","z":"529dab81.ac7574","server":"smtp.office365.com","port":"587","secure":false,"name":"keith.roscarel@hds.com","dname":"Keith Roscarel","x":860,"y":240,"wires":[]},{"id":"dc8722c8.4935c","type":"http request","z":"529dab81.ac7574","name":"Get image","method":"GET","ret":"bin","url":"https://storage.googleapis.com/relevant-magazine/2017/06/burglar-alamy.jpg","tls":"","x":210,"y":80,"wires":[[]]},{"id":"127c02ce.a658dd","type":"change","z":"529dab81.ac7574","name":"Flow 3 : Setup mail content","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": 'camera_snapshot.jpg', \t    \"content\": $$.payload,\t    \"cid\": 'some_unique_file_id'\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Result flow 3","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Dear,<br><br>Your PIR detector has detected movement in the living room.<br>Here is your camera snapshot:<br><img src=\"cid:some_unique_file_id\"/>',<br><br>Kind regards,<br>Your Node-Red flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":478.75781631469727,"y":263.9022798538208,"wires":[["300fe394.59531c"]]},{"id":"9c460dc5.3fd56","type":"change","z":"529dab81.ac7574","name":"Flow 4 : Setup mail content","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": 'camera_snapshot.jpg', \t    \"path\": '/tmp/local_image.jpg',\t    \"content\": $$.payload\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Result flow 4","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Dear,<br><br>Your PIR detector has detected movement in the living room.<br>In attachment you can find the file that was locally stored.<br><br>Kind regards,<br>Your Node-Red flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":475.7578239440918,"y":376.152325630188,"wires":[["300fe394.59531c"]]},{"id":"90953c.f71d5ac8","type":"file","z":"529dab81.ac7574","name":"Save image file","filename":"/tmp/local_image.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":435.99607276916504,"y":337.4376039505005,"wires":[]},{"id":"72709258.4dae7c","type":"file in","z":"529dab81.ac7574","name":"","filename":"\\tmp\\test.jpg","format":"","chunk":false,"sendError":false,"x":210,"y":220,"wires":[["f1bbfe08.c04fb","cbc23a21.6f9c08","127c02ce.a658dd","90953c.f71d5ac8","9c460dc5.3fd56"]]},{"id":"883452b5.17f0a","type":"comment","z":"529dab81.ac7574","name":"bypassing GET using file injection","info":"","x":150,"y":280,"wires":[]},{"id":"b8e8a100.4cde3","type":"comment","z":"529dab81.ac7574","name":"sequence to get enrolment, match and other details","info":"","x":310,"y":40,"wires":[]},{"id":"487e859d.0d048c","type":"http in","z":"e9c3c1f9.b1633","name":"","url":"/showvid","method":"get","upload":false,"swaggerDoc":"","x":810,"y":100,"wires":[["575028f0.3f6768"]]},{"id":"575028f0.3f6768","type":"multipart-encoder","z":"e9c3c1f9.b1633","name":"","statusCode":"","ignoreMessages":true,"outputOneNew":true,"outputIfSingle":false,"outputIfAll":false,"globalHeaders":{"Content-Type":"multipart/x-mixed-replace;boundary=--myboundary","Expires":"Fri, 01 Jan 1990 00:00:00 GMT","Cache-Control":"no-cache, no-store, max-age=0, must-revalidate","Pragma":"no-cache","Connection":"Keep-Alive"},"partHeaders":{"Content-Type":"image/jpeg"},"destination":"all","highWaterMark":"512000","x":940,"y":200,"wires":[[]]},{"id":"453a3c65.f63954","type":"http request","z":"e9c3c1f9.b1633","name":"HttpRequest to get image","method":"GET","ret":"bin","url":"","tls":"","x":690,"y":200,"wires":[["575028f0.3f6768"]]},{"id":"c2de1c4a.ea218","type":"function","z":"e9c3c1f9.b1633","name":"Next image url","func":"var counter = global.get(\"image_counter\") || 0; \ncounter++;\nglobal.set(\"image_counter\",counter);\n\n//msg.url = 'https://dummyimage.com/400x200/fff/000&text=PNG+' + counter;\nmsg.url = 'http://192.168.20.124/axis-cgi/jpg/image.cgi?camera=1&resolution=1280x720&compression=30';\n//msg.url = 'file:///D:/tmp/kr.jpg';\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":200,"wires":[["453a3c65.f63954"]]},{"id":"c8d59062.5831c","type":"inject","z":"e9c3c1f9.b1633","name":"Every two seconds","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":147.9999885559082,"y":199.99999904632568,"wires":[["46ce5cc3.4ed364"]]},{"id":"4dd1bc48.acb974","type":"inject","z":"e9c3c1f9.b1633","name":"Stop stream","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":550,"y":260,"wires":[["8529f205.6132e"]]},{"id":"8529f205.6132e","type":"change","z":"e9c3c1f9.b1633","name":"","rules":[{"t":"set","p":"stop","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":260,"wires":[["575028f0.3f6768"]]},{"id":"b940890d.e34408","type":"inject","z":"e9c3c1f9.b1633","name":"Pause stream","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":550,"y":300,"wires":[["db8d32a3.9fa45"]]},{"id":"9f221d29.a90c2","type":"inject","z":"e9c3c1f9.b1633","name":"Resume stream","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"","x":560,"y":340,"wires":[["db8d32a3.9fa45"]]},{"id":"46ce5cc3.4ed364","type":"switch","z":"e9c3c1f9.b1633","name":"","property":"streamPaused","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":200,"wires":[["c2de1c4a.ea218"]]},{"id":"db8d32a3.9fa45","type":"change","z":"e9c3c1f9.b1633","name":"","rules":[{"t":"set","p":"streamPaused","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":300,"wires":[[]]},{"id":"5aa7a38b.16385c","type":"inject","z":"ccd9021.10614","name":"Weather report","topic":"","payload":"/anon/gen/fwo/IDN60920.xml","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":240,"wires":[["a7481239.53437"]]},{"id":"902db37a.298b4","type":"xml","z":"ccd9021.10614","name":"","property":"payload","attr":"","chr":"","x":710,"y":180,"wires":[["efe239f5.631c18"]]},{"id":"898098a8.cc9558","type":"debug","z":"ccd9021.10614","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":180,"wires":[]},{"id":"efe239f5.631c18","type":"function","z":"ccd9021.10614","name":"Parse METAR","func":"\n//Get Station Name\nvar results = [];\n\n\n//stnList = msg.payload.product.observations[0].station;\n//var stnSearch = \"SYDNEY (OBSERVATORY HILL)\";\nvar stnIndex = 0;\n\n\n/*for(var i=0; i<stnList.length; i++) {\n    if (stnList(i) ==stnSearch) {\n      stnIndex = i;\n    }\n\n} */\n\nstnName = msg.payload.product.observations[0].station[stnIndex].$[\"stn-name\"];\nstnLat = msg.payload.product.observations[0].station[stnIndex].$.lat;\nstnLon = msg.payload.product.observations[0].station[stnIndex].$.lon;\nstnMeasTime = msg.payload.product.observations[0].station[stnIndex].period[0].$[\"time-local\"];\nstnMeasTemp = msg.payload.product.observations[0].station[stnIndex].period[0].level[0].element[0]._;\nmsg.payload = \"Id: \"+ stnIndex + \" Station:\" +stnName + \" Time:\" + stnMeasTime + \" Temp:\" +stnMeasTemp;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":360,"wires":[["898098a8.cc9558"]]},{"id":"f96bf320.d180e","type":"comment","z":"ccd9021.10614","name":"Weather data from BOM","info":"","x":310,"y":20,"wires":[]},{"id":"a7481239.53437","type":"ftp in","z":"ccd9021.10614","ftp":"8839ce78.a5a7f","operation":"get","filename":"IDN60920.xml","localFilename":"","workdir":"/anon/gen/fwo/","savedir":"D:\\TMP\\","name":"FTP from BOM","x":300,"y":240,"wires":[["d43121e6.dde0f"]]},{"id":"d43121e6.dde0f","type":"file in","z":"ccd9021.10614","name":"","filename":"D:\\TMP\\IDN60920.XML","format":"utf8","chunk":false,"sendError":false,"x":530,"y":180,"wires":[["902db37a.298b4"]]},{"id":"2d638f1.31ee37","type":"watch","z":"ccd9021.10614","name":"","files":"D:\\\\TMP\\\\IDN60920.XML","recursive":"","x":330,"y":60,"wires":[["d43121e6.dde0f"]]},{"id":"ffbb2b41.8d73a8","type":"debug","z":"e9c3c1f9.b1633","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":400,"wires":[]},{"id":"f2fbef39.8f19b","type":"comment","z":"1635f96c.8c30a7","name":"Authenticates/Re-authenticates HVS and places token in global variable","info":"","x":270,"y":40,"wires":[]},{"id":"7a3aa431.b0384c","type":"inject","z":"1635f96c.8c30a7","name":"On Startup and Every 30 Minutes.","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/30 0 * * *","once":true,"onceDelay":"","x":200,"y":220,"wires":[["48b6c7ad.344118"]]},{"id":"48b6c7ad.344118","type":"function","z":"1635f96c.8c30a7","name":"Configuration for HVS Environment","func":"\n// global Configuration parameters\n\nvar gbl_APIURLBase = 'https://api.hitachismartcam.com';\nglobal.set(\"gbl_APIURLBase\",gbl_APIURLBase);\n\ngbl_APIURLBase = global.get(\"gbl_APIURLBase\");\nmsg.url = gbl_APIURLBase + '/authenticate';\n\nmsg.payload = '{  \"username\": \"xxx\",  \"password\": \"yyy\",  \"domain\": \"demo\",  \"scope\": \"web\"}';\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["eeba3df3.a7849","f53ac37f.c36bf"]]},{"id":"eeba3df3.a7849","type":"http request","z":"1635f96c.8c30a7","name":"Authenticate","method":"POST","ret":"obj","url":"","tls":"","x":790,"y":220,"wires":[["fe64b79e.ed7b98","7640781e.2a3008"]]},{"id":"fe64b79e.ed7b98","type":"debug","z":"1635f96c.8c30a7","name":"Authentication Object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1020,"y":140,"wires":[]},{"id":"7640781e.2a3008","type":"function","z":"1635f96c.8c30a7","name":"setAuthenticationToken","func":"var gblAccess_Token = global.get(\"gblAccess_Token\") || \"\"; \nvar gblRenew_Token = global.get(\"gblRenew_Token\") || \"\"; \n\nvar gblAccess_Token = msg.payload.data.access_token;\nglobal.set(\"gblAccess_Token\",gblAccess_Token);\n\nvar gblRenew_Token = msg.payload.data.renew_token;\nglobal.set(\"gblRenew_Token\",gblRenew_Token);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":220,"wires":[[]]},{"id":"ab22e3f3.c0085","type":"function","z":"2d32c820.3162e8","name":"Get Entity Types","func":"\n\n\nmsg.url = 'https://api.hitachismartcam.com/entitytypes';\n\nmsg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + global.get(\"gblAccess_Token\");\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["e377a772.7c72c8"]]},{"id":"e377a772.7c72c8","type":"http request","z":"2d32c820.3162e8","name":"HttpRequest to get image","method":"GET","ret":"obj","url":"","tls":"","x":610,"y":300,"wires":[["55a326e.cdc94d8"]]},{"id":"a3d0e2b3.202cb","type":"inject","z":"2d32c820.3162e8","name":"Initial authentication","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":300,"wires":[["ab22e3f3.c0085"]]},{"id":"55a326e.cdc94d8","type":"function","z":"2d32c820.3162e8","name":"Load EntityTypes","func":"arEntityTypes = {};\n\nobjExclude = \n{\n    VMS : \"Y\", \n    Camera: \"Y\",\n    Videowall : \"Y\", \n    Map : \"Y\", \n    Layer : \"Y\", \n    Gateway : \"Y\", \n    area : \"Y\", \n    Buildings : \"Y\"\n}\n\n\n\nfor (i = 0; i < msg.payload.data.length; i++) { \n if (msg.payload.data[i].visible_on_nav_panel === true) {\n     if (objExclude[msg.payload.data[i].name] != \"Y\") {\n        arEntityTypes[msg.payload.data[i].name] =  msg.payload.data[i].id;\n     }\n    }  \n }\n    \nmsg.payload = arEntityTypes ;\n\nglobal.set(\"gblEntityTypes\", arEntityTypes);\n\n\nreturn msg;\n\n/*      if(typeof msg.payload.data[i].name.property != \"undefined\"){\n          arEntityTypes[msg.payload.data[i].name] =  msg.payload.data[i].id;\n      } else if (typeof msg.payload.data[i].display_name.property != \"undefined\") {\n            arEntityTypes[msg.payload.data[i].display_name] =  msg.payload.data[i].id;\n          }\n          */\n","outputs":1,"noerr":0,"x":850,"y":300,"wires":[["535b6a01.2f5744"]]},{"id":"535b6a01.2f5744","type":"debug","z":"2d32c820.3162e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":380,"wires":[]},{"id":"aaafb7ec.70e948","type":"comment","z":"2d32c820.3162e8","name":"Load Entitiy Types into Global Hash","info":"note\nExclude:\nVMS\nCamera\nvideowall\nMap\nLayer\nGateway\narea\nBuildings","x":160,"y":60,"wires":[]},{"id":"b6c043cf.6ae56","type":"function","z":"249e89dc.f4e936","name":"Build Bus 1","func":"msg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + global.get(\"gblAccess_Token\");\n\nvar arEntityTypes = global.get(\"gblEntityTypes\");\nvar type_id = arEntityTypes[\"Buses\"] ;\n\nmsg.url = 'https://api.hitachismartcam.com/entitytypes/'+type_id+'/entities';\n\n//objGPS = getLatLon(\"33°51′43″S,-33.86192131,151°12′52″E,151.21432742,0.897,31.204°\");\n\njsonBody = {\n    \"address\": \"1830 Fort Myer Dr, Arlington, VA 22209, USA\",\n    \"ancestors\": [],\n    \"appearance\": {},\n    \"attributes\": {\n        \"key7\": {\n            \"label\": \"Builder\",\n            \"value\": \"Gillig Corporation\"\n        },\n        \"key4\": {\n            \"label\": \"Passengers Capacity\",\n            \"value\": \"*29: 28*35:32*40:40\"\n        },\n        \"key3\": {\n            \"label\": \"License Plate\",\n            \"value\": \"FD 546\"\n        },\n        \"key12\": {\n            \"label\": \"Inner View\",\n            \"type\": \"attachment_id|InteriorDCWMATAmetrobusexpress2010.jpg\",\n            \"value\": \"596936f7551ae812bc4c2a2f\"\n        },\n        \"key9\": {\n            \"label\": \"Bus Model\",\n            \"type\": \"attachment_id|DCMetroBus3082.png\",\n            \"value\": \"596936ec551ae812bc4c2a2e\"\n        }\n    },\n    \"create_timestamp\": \"2017-06-23T16:33:04.504Z\",\n    \"description\": \"The Gillig Low Floor \",\n    \"update_timestamp\": \"2018-03-07T16:26:58.077Z\",\n    \"location\": {\n        \"coordinates\": [\n            -77.0724199,\n            38.8969375\n        ],\n        \"type\": \"Point\"\n    },\n    \"name\": \"\",\n    \"tags\": [],\n    \"type_id\": \"\"\n};\n\nmsg.body = buildBus(\"Bus-\"+msg.payload.idx,msg.payload.lat,msg.payload.lon,jsonBody);\nmsg.payload = msg.body;\n\n\nreturn msg;\n\n\n\nfunction buildBus(strName,strLat,strLon,jsonBody) {\n    jsonBody.name = strName;\n    jsonBody.location.coordinates[0] = strLon;\n    jsonBody.location.coordinates[1] = strLat;\n    return jsonBody;\n }","outputs":1,"noerr":0,"x":750,"y":440,"wires":[["e83f84a7.54b048","76f0afe2.7c7d2"]]},{"id":"76f0afe2.7c7d2","type":"http request","z":"249e89dc.f4e936","name":"HttpRequest","method":"POST","ret":"obj","url":"","tls":"","x":750,"y":520,"wires":[["cf416333.6b58c"]]},{"id":"27469a3f.d2fc96","type":"nbrowser","z":"763918a.991f3e8","name":"","methods":[{"name":"gotoURL","func":"goto","params":[{"type":"str","value":"http://www.geomidpoint.com/random/","typeDefault":"str"}]},{"name":"type","func":"type","params":[{"type":"str","value":"#search","typeDefault":"str"},{"type":"msg","value":"payload.location","typeDefault":"str"}]},{"name":"click","func":"click","params":[{"type":"str","value":".btn","typeDefault":"str"}]},{"name":"wait","func":"wait","params":[{"type":"str","value":"0","typeDefault":"str"}]},{"name":"type","func":"type","params":[{"type":"str","value":"#points","typeDefault":"str"},{"type":"msg","value":"payload.numpoints","typeDefault":"str"}]},{"name":"wait","func":"wait","params":[{"type":"str","value":"1","typeDefault":"str"}]},{"name":"type","func":"type","params":[{"type":"str","value":"#maxdist","typeDefault":"str"},{"type":"msg","value":"payload.geofence","typeDefault":"str"}]},{"name":"evalJavaScript","func":"evalJavaScript","params":[{"type":"str","value":"calcStub()","typeDefault":"str"},{"type":"output","value":1,"typeDefault":"output"}]},{"name":"evalJavaScript","func":"evalJavaScript","params":[{"type":"str","value":"selectedFormat = 2","typeDefault":"str"},{"type":"output","value":2,"typeDefault":"output"}]},{"name":"evalJavaScript","func":"evalJavaScript","params":[{"type":"str","value":"displayResults(0)","typeDefault":"str"},{"type":"output","value":3,"typeDefault":"output"}]},{"name":"evalJavaScript","func":"evalJavaScript","params":[{"type":"str","value":"f1.randompoint.value","typeDefault":"str"},{"type":"output","value":4,"typeDefault":"output"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":false,"show":true,"ssl":false,"outputs":5,"x":200,"y":160,"wires":[[],[],[],["e71055d6.0caaa8"],[]]},{"id":"faae833d.9bff1","type":"debug","z":"763918a.991f3e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":240,"y":80,"wires":[]},{"id":"e71055d6.0caaa8","type":"split","z":"763918a.991f3e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":160,"wires":[["fac19e99.ed949"]]},{"id":"fac19e99.ed949","type":"join","z":"763918a.991f3e8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":330,"y":240,"wires":[["4a9db12f.2907f"]]},{"id":"4d9f1a19.619304","type":"comment","z":"763918a.991f3e8","name":"Get Random Coordinates - Readme","info":"Input Parameters:\nlocation - from the http://www.geomidpoint.com/random/\nnumpoints - number of random GPS points\ngeofence - num miles from location\n{\n    \"location\": \"Sydney NSW, Australia\",\n    \"numpoints\": 5,\n    \"geofence\": 0.3\n}\n\nreturns:\nArray of coordinates","x":160,"y":40,"wires":[]},{"id":"4a9db12f.2907f","type":"function","z":"763918a.991f3e8","name":"parse GPS coordinates","func":"var arRandomGPS = [];\n\nvar arrayLength = msg.payload.length -1;\nfor (var i = 0; i < arrayLength; i++) {\n    arRandomGPS.push (getLatLon(msg.payload[i],i+1));\n}\nmsg.payload= arRandomGPS;\n\nreturn msg;\n\nfunction getLatLon (strGeostring, iidx) {\n    //Helper function to strip lat and lon, and return in an object\n    //33°51′43″S,-33.86192131,151°12′52″E,151.21432742,0.897,31.204°\n    var arr = strGeostring.split(\",\");\n    var obj = {};\n    obj[\"lat\"] = arr[1];\n    obj[\"lon\"] = arr[3];\n    obj[\"idx\"] = iidx;\n    return obj;\n}","outputs":1,"noerr":0,"x":560,"y":300,"wires":[[]]},{"id":"7763c48f.db933c","type":"comment","z":"3e7285b1.55ffea","name":"Cleanup Entities within a Geofence","info":"","x":200,"y":80,"wires":[]},{"id":"fa68bd80.916fe","type":"geofence","z":"3e7285b1.55ffea","name":"Melbourne VIC, Australia","manager":"91b0fc5a.24179","centre":null,"radius":null,"points":[],"geofenceName":null,"fenceID":null,"mode":null,"x":170,"y":300,"wires":[["3dde51d2.a6d2ce"]]},{"id":"167a774b.650979","type":"inject","z":"3e7285b1.55ffea","name":"","topic":"Coordinates Paramaters","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["8d221d3e.d357c"]]},{"id":"3dde51d2.a6d2ce","type":"switch","z":"3e7285b1.55ffea","name":"If in Geofence","property":"payload.in","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":300,"wires":[["a5eb3ec2.daf0f"]]},{"id":"f53ac37f.c36bf","type":"link out","z":"1635f96c.8c30a7","name":"HVS.LoadEntitytypes","links":["22505d69.382002"],"x":755,"y":360,"wires":[]},{"id":"22505d69.382002","type":"link in","z":"2d32c820.3162e8","name":"","links":["f53ac37f.c36bf"],"x":215,"y":200,"wires":[["ab22e3f3.c0085"]]},{"id":"8d221d3e.d357c","type":"function","z":"3e7285b1.55ffea","name":"All Entity Types","func":"\n\nmsg.payload = global.get(\"gblEntityTypes\");\n\nvar result = [];\n\n   \n    var keys = Object.keys(msg.payload);\n    keys.forEach(function(key){\n        result.push(msg.payload[key]);\n    });\n    \n\n    msg.payload =  result;\n    \n\n    return msg;\n\n\n","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["8327715b.a648d"]]},{"id":"8327715b.a648d","type":"bigsplitter","z":"3e7285b1.55ffea","name":"For Each Entity type","property":"payload","x":620,"y":160,"wires":[["198fd655.4a16ea"],[]]},{"id":"198fd655.4a16ea","type":"function","z":"3e7285b1.55ffea","name":"Get Entities","func":"msg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + global.get(\"gblAccess_Token\");\n\ngbl_APIURLBase = global.get(\"gbl_APIURLBase\");\nmsg.url = gbl_APIURLBase + '/entitytypes/' + msg.payload  + '/entities?pageSize=0';\n\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":240,"wires":[["4af8654f.317e5c"]]},{"id":"4af8654f.317e5c","type":"http request","z":"3e7285b1.55ffea","name":"","method":"GET","ret":"obj","url":"","tls":"","x":310,"y":240,"wires":[["b7d3834b.8a1da"]]},{"id":"b7d3834b.8a1da","type":"function","z":"3e7285b1.55ffea","name":"All Entities","func":"\n\n    var result = [];\n    var keys = Object.keys(msg.payload.data);\n    keys.forEach(function(key){\n        result.push(msg.payload.data[key]);\n    });\n    \n    msg.payload =  result;\n    \n    return msg;\n","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["f78b6fbb.3b0ef"]]},{"id":"f78b6fbb.3b0ef","type":"bigsplitter","z":"3e7285b1.55ffea","name":"For Each Entity","property":"payload","x":680,"y":220,"wires":[["61108286.f936cc"],[]]},{"id":"a5eb3ec2.daf0f","type":"function","z":"3e7285b1.55ffea","name":"Delete Entity","func":"msg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + global.get(\"gblAccess_Token\");\n\ngbl_APIURLBase = global.get(\"gbl_APIURLBase\");\nmsg.url = gbl_APIURLBase + '/entitytypes/' + msg.type_id + '/entities/' + msg.id;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":300,"wires":[["eebc108e.5fb39"]]},{"id":"eebc108e.5fb39","type":"http request","z":"3e7285b1.55ffea","name":"","method":"DELETE","ret":"obj","url":"","tls":"","x":790,"y":300,"wires":[["493e5b73.f47994"]]},{"id":"61108286.f936cc","type":"change","z":"3e7285b1.55ffea","name":"","rules":[{"t":"move","p":"payload.location.coordinates[1]","pt":"msg","to":"lat","tot":"msg"},{"t":"move","p":"payload.location.coordinates[0]","pt":"msg","to":"lon","tot":"msg"},{"t":"move","p":"payload.id","pt":"msg","to":"id","tot":"msg"},{"t":"move","p":"payload.type_id","pt":"msg","to":"type_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":240,"wires":[["fa68bd80.916fe"]]},{"id":"493e5b73.f47994","type":"debug","z":"3e7285b1.55ffea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":340,"wires":[]},{"id":"a634d30b.e3c6f","type":"subflow:763918a.991f3e8","z":"249e89dc.f4e936","name":"","x":330,"y":440,"wires":[["4a8a9663.a9aba8"]]},{"id":"c968b2ca.20689","type":"inject","z":"249e89dc.f4e936","name":"","topic":"Coordinates Paramaters","payload":"{    \"location\": \"Melbourne VIC, Australia\",    \"numpoints\": 10,    \"\"    \"geofence\": 1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["a634d30b.e3c6f"]]},{"id":"4a8a9663.a9aba8","type":"bigsplitter","z":"249e89dc.f4e936","name":"","property":"payload","x":520,"y":440,"wires":[["b6c043cf.6ae56"],[]]},{"id":"cf416333.6b58c","type":"debug","z":"249e89dc.f4e936","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":600,"wires":[]},{"id":"e83f84a7.54b048","type":"debug","z":"249e89dc.f4e936","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":380,"wires":[]},{"id":"2e400b52.36bf24","type":"inject","z":"7a2cec45.2ae184","name":"Start Extract Process","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":300,"wires":[["21211361.37ca3c"]]},{"id":"21211361.37ca3c","type":"function","z":"7a2cec45.2ae184","name":"Get All enrolments","func":"\n\nmsg.url = 'http://'+global.get(\"LFM_edge_ipaddr\")+'/DBAccess.cgi?cmd=search_psn_info&pwd=lfm&ps=1000';\n\n//msg.headers = {};\n//msg.headers['Authorization'] = 'Bearer ' + global.get(\"gblAccess_Token\");\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["1a47b119.cc854f"]]},{"id":"1a47b119.cc854f","type":"http request","z":"7a2cec45.2ae184","name":"HttpRequest","method":"GET","ret":"txt","url":"","tls":"","x":610,"y":300,"wires":[["11c6d78c.fb4b98"]]},{"id":"11c6d78c.fb4b98","type":"xml","z":"7a2cec45.2ae184","name":"","property":"payload","attr":"","chr":"","x":790,"y":300,"wires":[["fa8b2cae.9d30e"]]},{"id":"fa8b2cae.9d30e","type":"function","z":"7a2cec45.2ae184","name":"All Enrolments","func":"\n    var util = global.get('utilModule');\n    var result = [];\n    //var today = new Date();\n    var strNow = Date.now();\n    flow.set('flw_fileTime',strNow);\n    //strToday = (today.getFullYear() + 1).toString() + '-' + today.getMonth().toString() + '-' +today.getDate().toString();\n    msg.payload =  msg.payload.output.result[0].psn_arr[0].psn;\n    msg.filename = global.get(\"LFM_tmp_dir\")+'\\\\'+global.get(\"LFM_edge_id\")+'-'+strNow+'.json';\n    msg.filenamezip = global.get(\"LFM_tmp_dir\")+'\\\\'+global.get(\"LFM_edge_id\")+'-'+strNow+'.zip';\n    //+'_'+util.printd(\"yyyymmdd_HHMMss\", new Date())\n    return msg;\n","outputs":1,"noerr":0,"x":940,"y":300,"wires":[["3195ca18.292f76","5f97e2d5.57a97c"]]},{"id":"3195ca18.292f76","type":"bigsplitter","z":"7a2cec45.2ae184","name":"","property":"payload","x":160,"y":400,"wires":[["6a094f04.518a5"],[]]},{"id":"6a094f04.518a5","type":"function","z":"7a2cec45.2ae184","name":"Get Face Image","func":"\nvar imgRequests = [];\nvar idxRequests = [];\n\n//File\nvar flw_fileTime = flow.get('flw_fileTime');\nvar strURL = '';\nfor (i = 1 ; i < 7 ;i++) {\n    strURL = 'http://'+global.get(\"LFM_edge_ipaddr\")+'/DBAccess.cgi?cmd=get_face_img&pwd=lfm&psn_id='+msg.payload.psn_id[0]+'&img_no='+i;\n    imgRequests.push(strURL);\n\n}\n    msg.payload = imgRequests;\n\n    \n    return msg;\n","outputs":1,"noerr":0,"x":340,"y":400,"wires":[["40f99a77.da3c64"]]},{"id":"13d6d5ab.56ec4a","type":"comment","z":"7a2cec45.2ae184","name":"Watches for files in packing directory","info":"","x":300,"y":560,"wires":[]},{"id":"b7380a0a.b87cf8","type":"http request","z":"7a2cec45.2ae184","name":"HttpRequest","method":"GET","ret":"bin","url":"","tls":"","x":830,"y":400,"wires":[["fdbde385.1a6d5"]]},{"id":"26ef3d40.5ae032","type":"file","z":"7a2cec45.2ae184","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":950,"y":460,"wires":[]},{"id":"515927ec.ad4cf8","type":"http in","z":"7a2cec45.2ae184","name":"","url":"/extractchange","method":"get","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["21211361.37ca3c"]]},{"id":"77d17bbd.556e34","type":"mqtt in","z":"252395d9.d6cf7a","name":"","topic":"fred","qos":"1","broker":"9e523b26.5398f8","x":70,"y":260,"wires":[["2f3893d4.e0127c"]]},{"id":"eb645efd.7ca1","type":"worldmap","z":"252395d9.d6cf7a","name":"","lat":"-33.610915983405015","lon":"151.14590554422858","zoom":"15","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":1310,"y":440,"wires":[]},{"id":"801053e7.27dfd","type":"mysql","z":"252395d9.d6cf7a","mydb":"889879b9.1a5db8","name":"DB: detection_data","x":910,"y":440,"wires":[["9149adc4.dd4ca"]]},{"id":"67ae0453.a4daac","type":"template","z":"252395d9.d6cf7a","name":"SELECT query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT owntracks_id, device_id, lat, lon, time, DATE_FORMAT(date, '%Y-%m-%d') as date FROM owntracks WHERE device_id = '{{payload}}' ORDER BY owntracks_id ASC","output":"str","x":700,"y":440,"wires":[["801053e7.27dfd"]]},{"id":"d4df1a21.65e848","type":"template","z":"252395d9.d6cf7a","name":"INSERT query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO owntracks ( device_id, date, time, lat, lon ) VALUES ( '{{device_id}}', '{{date}}', '{{time}}', {{lat}}, {{lon}} );","output":"str","x":680,"y":240,"wires":[["e6bac99c.09eb08"]]},{"id":"469639b3.c61218","type":"function","z":"252395d9.d6cf7a","name":"Instant update to world map","func":"var search_pattern = msg.device_id;\nvar myArray = global.get('deviceMap');\n\nvar iColor = myArray[search_pattern]['color'];\nvar iIcon  = myArray[search_pattern]['icon'];\n\n\nmsg.payload = { name: \"realtime_\" + msg.time,\n                layer: \"realtime\",\n                lat: msg.lat,\n                lon: msg.lon,\n                time: msg.time,\n                date: msg.date,\n                device: msg.device_id,\n                icon: iIcon,\n                iconColor: iColor\n              };\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":320,"wires":[["875e27ac.c8cff8"]]},{"id":"3796e3c4.d29b5c","type":"ui_button","z":"252395d9.d6cf7a","name":"","group":"826ae40d.7a7cf8","order":1,"width":"6","height":"1","passthru":false,"label":"Track Keith's Phone","color":"","bgcolor":"","icon":"","payload":"FE","payloadType":"str","topic":"","x":120,"y":400,"wires":[["45e93.e6ad416d"]]},{"id":"102c7b55.26db95","type":"function","z":"252395d9.d6cf7a","name":"","func":"var command = {clear :(msg.payload)};\nmsg.payload ={command};\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":520,"wires":[["eb645efd.7ca1"]]},{"id":"4b81537.1424fac","type":"ui_button","z":"252395d9.d6cf7a","name":"","group":"826ae40d.7a7cf8","order":2,"width":"6","height":"1","passthru":false,"label":"Clear Keith's Phone","color":"","bgcolor":"","icon":"","payload":"device_01","payloadType":"str","topic":"","x":110,"y":500,"wires":[["102c7b55.26db95"]]},{"id":"28f80904.397796","type":"function","z":"252395d9.d6cf7a","name":"Set-up deviceMap","func":"global.set('deviceMap', {\n    \"KR\" : {owner: \"Keith\", type: \"Apple\", icon: \"fa-map-pin\", color: \"blue\"},\n    \"CH\" : {owner: \"chris\", type: \"Apple\", icon: \"fa-paw\", color: \"green\"},\n    \"05\" : {owner: \"david\", type: \"Lenovo\",  icon: \"fa-map-pin\", color: \"red\"},\n    \"99\" : {owner: \"unknown\", type: \"Unknown\",  icon: \"fa-question-circle\", color: \"red\"}\n });\n \nglobal.set(\"operational\", \"yes\");\n","outputs":0,"noerr":0,"x":350,"y":100,"wires":[]},{"id":"d341f899.a00e38","type":"inject","z":"252395d9.d6cf7a","name":"Set-up global array","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":130,"y":100,"wires":[["28f80904.397796","a6a428d0.ca6e68"]]},{"id":"45e93.e6ad416d","type":"change","z":"252395d9.d6cf7a","name":"","rules":[{"t":"set","p":"search_pattern","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":440,"wires":[["67ae0453.a4daac"]]},{"id":"86a73b4f.d67cb8","type":"ui_button","z":"252395d9.d6cf7a","name":"","group":"826ae40d.7a7cf8","order":10,"width":"6","height":"1","passthru":false,"label":"Clear REAL-TIME","color":"","bgcolor":"","icon":"","payload":"realtime","payloadType":"str","topic":"","x":110,"y":560,"wires":[["102c7b55.26db95"]]},{"id":"df063a2.7e956c8","type":"ui_template","z":"252395d9.d6cf7a","group":"cdfbb9fd.17db08","name":"","order":0,"width":"19","height":"10","format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":160,"wires":[[]]},{"id":"a6a428d0.ca6e68","type":"template","z":"252395d9.d6cf7a","name":"","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe width=\"100%\" height=\"100%\" src=\"http://localhost:1880/worldmap\"></iframe>","output":"str","x":320,"y":160,"wires":[["df063a2.7e956c8"]]},{"id":"3266aea8.42e0b2","type":"ui_text","z":"252395d9.d6cf7a","group":"826ae40d.7a7cf8","order":3,"width":0,"height":0,"name":"A: blank spacer","label":"","format":"{{msg.payload}}","layout":"row-spread","x":100,"y":760,"wires":[]},{"id":"f300db05.a83658","type":"ui_text","z":"252395d9.d6cf7a","group":"826ae40d.7a7cf8","order":6,"width":0,"height":0,"name":"B: blank spacer","label":"","format":"{{msg.payload}}","layout":"row-spread","x":100,"y":800,"wires":[]},{"id":"1239f927.0c9f87","type":"ui_text","z":"252395d9.d6cf7a","group":"826ae40d.7a7cf8","order":9,"width":0,"height":0,"name":"C: blank spacer","label":"","format":"{{msg.payload}}","layout":"row-spread","x":100,"y":840,"wires":[]},{"id":"2f3893d4.e0127c","type":"json","z":"252395d9.d6cf7a","name":"","property":"payload","action":"obj","pretty":false,"x":170,"y":320,"wires":[["3de72f8b.9ed75"]]},{"id":"e6bac99c.09eb08","type":"mysql","z":"252395d9.d6cf7a","mydb":"889879b9.1a5db8","name":"DB: detection_data","x":970,"y":260,"wires":[[]]},{"id":"9149adc4.dd4ca","type":"function","z":"252395d9.d6cf7a","name":"Process tracks","func":"var search_pattern = msg.search_pattern;\nvar myArray = global.get('deviceMap');\nvar iColor  = myArray[search_pattern]['color'];\nvar iIcon   = myArray[search_pattern]['icon'];\nvar iLayer  = \"device_\" + search_pattern;\n\nvar tracks = msg.payload.map(function(m, i) {\n    return {\n            payload: {\n                name: \"mytrack_\" + m.device_id +\"_\" + m.owntracks_id,\n                layer: iLayer,\n                lat: parseFloat(m.lat),\n                lon: parseFloat(m.lon),\n                time: (m.time),\n                date: (m.date),\n                device: (m.device_id),\n                icon: iIcon,\n                iconColor: iColor\n            }\n        };\n    });\nreturn [tracks];\n\n","outputs":1,"noerr":0,"x":1120,"y":440,"wires":[["eb645efd.7ca1"]]},{"id":"875e27ac.c8cff8","type":"worldmap","z":"252395d9.d6cf7a","name":"","lat":"51.346079","lon":"-0.827034","zoom":"15","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":970,"y":320,"wires":[]},{"id":"3de72f8b.9ed75","type":"function","z":"252395d9.d6cf7a","name":"Check and format data","func":"var operational = global.get(\"operational\")||\"no\";\n\nif (operational == \"yes\")\n{\n    if (msg.payload._type == \"lwt\") //Ignore reading if LWT received\n        {\n            node.status({fill:\"green\",shape:\"dot\",text:\"LWT detected\"});  \n            return null;\n        }\n    else\n        {\n            msg.lat         = msg.payload.lat;\n            msg.lon         = msg.payload.lon;\n            \n            var device_id   = msg.payload.tid;\n            var myArray     = global.get('deviceMap');\n            var test        = myArray.hasOwnProperty(device_id);\n            if (test === false)\n            {\n                msg.device_id = \"99\";   // Change msg.device_id to \"unknown device\"\n            }\n            else\n            {\n                msg.device_id = device_id;\n            }\n            \n            var timestamp = msg.payload.tst * 1000;\n            var date = new Date(timestamp); // Or the date you'd like converted.\n            isoDate = new Date(date.getTime() - (date.getTimezoneOffset() * 60000)).toISOString();\n            msg.date = isoDate.slice(0,10);\n            msg.time = isoDate.slice(11,19);\n   \n            node.status({fill:\"blue\",shape:\"ring\",text:\"Last detection at: \" + msg.time + \" on \" + msg.date});   \n            return msg;\n        }\n}\nelse \n{\n    return null;\n}","outputs":1,"noerr":0,"x":480,"y":340,"wires":[["469639b3.c61218","d4df1a21.65e848"]]},{"id":"292fa933.1af356","type":"mqtt in","z":"a02a3783.b02fa8","name":"","topic":"fred","qos":"2","broker":"9e523b26.5398f8","x":90,"y":600,"wires":[["3a058d4a.3c6812"]]},{"id":"3a058d4a.3c6812","type":"json","z":"a02a3783.b02fa8","name":"","property":"payload","action":"","pretty":false,"x":260,"y":680,"wires":[["22b7dce2.e652b4"]]},{"id":"22b7dce2.e652b4","type":"debug","z":"a02a3783.b02fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":680,"wires":[]},{"id":"ba883082.5cd56","type":"inject","z":"481cb8b4.e65818","name":"Run Once to Initiate LFM Configuration","topic":"","payload":"{\"LFM_edge_ipaddr\":\"192.168.20.15\",\"LFM_edge_pwd\":\"pwd\",\"LFM_edge_id\":\"STORE1\",\"LFM_tmp_dir\":\"d:\\\\LFM\\\\tmp\",\"LFM_send_dir\":\"d:\\\\LFM\\\\send\",\"LFM_receive_dir\":\"d:\\\\LFM\\\\receive\",\"LFM_archive_dir\":\"d:\\\\LFM\\\\archive\",\"LFM_master_server\":\"xx.xx.xx.xx\",\"LFM_master_username\":\"test\",\"LFM_master_password\":\"123\",\"LFM_7Zip_command\":\"\\\"C:\\\\Program Files\\\\7-Zip\\\\7z\\\" \",\"LFM_Cluster\":{\"STORE1\":{\"id\":\"STORE1\",\"ipaddr\":\"localhost:1880\"}}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":120,"wires":[["69d9112a.45e38","7352b022.018dd"]]},{"id":"69d9112a.45e38","type":"change","z":"481cb8b4.e65818","name":"","rules":[{"t":"set","p":"LFM_edge_ipaddr","pt":"global","to":"payload.LFM_edge_ipaddr","tot":"msg"},{"t":"set","p":"LFM_edge_pwd","pt":"global","to":"payload.LFM_edge_pwd","tot":"msg"},{"t":"set","p":"LFM_edge_id","pt":"global","to":"payload.LFM_edge_id","tot":"msg"},{"t":"set","p":"LFM_master_server","pt":"global","to":"payload.LFM_master_server","tot":"msg"},{"t":"set","p":"LFM_tmp_dir","pt":"global","to":"payload.LFM_tmp_dir","tot":"msg"},{"t":"set","p":"LFM_send_dir","pt":"global","to":"payload.LFM_send_dir","tot":"msg"},{"t":"set","p":"LFM_receive_dir","pt":"global","to":"payload.LFM_receive_dir","tot":"msg"},{"t":"set","p":"LFM_master_username","pt":"global","to":"payload.LFM_master_username","tot":"msg"},{"t":"set","p":"LFM_master_password","pt":"global","to":"payload.LFM_master_password","tot":"msg"},{"t":"set","p":"LFM_7Zip_command","pt":"global","to":"payload.LFM_7Zip_command","tot":"msg"},{"t":"set","p":"LFM_Cluster","pt":"global","to":"payload.LFM_Cluster","tot":"msg"},{"t":"set","p":"LFM_archive_dir","pt":"global","to":"payload.LFM_archive_dir","tot":"msg"},{"t":"set","p":"LFM_7z_Password","pt":"global","to":"69d9112a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":100,"wires":[[]]},{"id":"7352b022.018dd","type":"debug","z":"481cb8b4.e65818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":180,"wires":[]},{"id":"fdbde385.1a6d5","type":"switch","z":"7a2cec45.2ae184","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":400,"wires":[["bac360cd.cf993"]]},{"id":"40f99a77.da3c64","type":"bigsplitter","z":"7a2cec45.2ae184","name":"","property":"payload","x":520,"y":400,"wires":[["b1deaa6a.41b168"],[]]},{"id":"b1deaa6a.41b168","type":"change","z":"7a2cec45.2ae184","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":400,"wires":[["b7380a0a.b87cf8"]]},{"id":"bac360cd.cf993","type":"function","z":"7a2cec45.2ae184","name":"Set File Name","func":"\n\n\nmsg.filename = global.get(\"LFM_tmp_dir\")+'\\\\'+'image_'+getAllUrlParams(msg.url).psn_id+'_'+getAllUrlParams(msg.url).img_no+'.jpg';\n\nfunction getAllUrlParams(url) {\n\n  // get query string from url (optional) or window\n  var queryString = url \n\n  // we'll store the parameters here\n  var obj = {};\n\n  // if query string exists\n  if (queryString) {\n\n    // stuff after # is not part of query string, so get rid of it\n    queryString = queryString.split('#')[0];\n\n    // split our query string into its component parts\n    var arr = queryString.split('&');\n\n    for (var i=0; i<arr.length; i++) {\n      // separate the keys and the values\n      var a = arr[i].split('=');\n\n      // in case params look like: list[]=thing1&list[]=thing2\n      var paramNum = undefined;\n      var paramName = a[0].replace(/\\[\\d*\\]/, function(v) {\n        paramNum = v.slice(1,-1);\n        return '';\n      });\n\n      // set parameter value (use 'true' if empty)\n      var paramValue = typeof(a[1])==='undefined' ? true : a[1];\n\n      // (optional) keep case consistent\n      paramName = paramName.toLowerCase();\n      paramValue = paramValue.toLowerCase();\n\n      // if parameter name already exists\n      if (obj[paramName]) {\n        // convert value to array (if still string)\n        if (typeof obj[paramName] === 'string') {\n          obj[paramName] = [obj[paramName]];\n        }\n        // if no array index number specified...\n        if (typeof paramNum === 'undefined') {\n          // put the value on the end of the array\n          obj[paramName].push(paramValue);\n        }\n        // if array index number specified...\n        else {\n          // put the value at that index number\n          obj[paramName][paramNum] = paramValue;\n        }\n      }\n      // if param name doesn't exist yet, set it\n      else {\n        obj[paramName] = paramValue;\n      }\n    }\n  }\n\n  return obj;\n}\n    \n    return msg;\n","outputs":1,"noerr":0,"x":780,"y":460,"wires":[["26ef3d40.5ae032"]]},{"id":"f957fc59.f015b","type":"exec","z":"7a2cec45.2ae184","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":610,"y":620,"wires":[["f2c53414.96b228"],[],[]]},{"id":"79f8f2c8.446a8c","type":"function","z":"7a2cec45.2ae184","name":"Pack and Send","func":"\n\n\n//msg.filename = global.get(\"LFM_tmp_dir\")+'\\\\'+'image_'+getAllUrlParams(msg.url).psn_id+'_'+getAllUrlParams(msg.url).img_no+'.jpg';\n\n//msg.payload = global.get(\"LFM_7Zip_command\")+' '+ global.get(\"LFM_send_dir\") + \"\\\\\"+global.get(\"LFM_edge_id\") + \"_send.7z \" + msg.payload;\nmsg.payload = global.get(\"LFM_7Zip_command\")+' a -t7z -sdel ' + global.get(\"LFM_send_dir\") + \"\\\\\"+global.get(\"LFM_edge_id\") + \"_send.7z \" + global.get(\"LFM_tmp_dir\")+'\\\\*' ;\n    \n    return msg;\n\n\n//\"C:\\Program Files\\7-Zip\\7z\" a -t7z \n// global.get(\"LFM_tmp_dir\")+\"\\\\*.*\";","outputs":1,"noerr":0,"x":420,"y":620,"wires":[["f957fc59.f015b"]]},{"id":"5f97e2d5.57a97c","type":"file","z":"7a2cec45.2ae184","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1170,"y":260,"wires":[]},{"id":"f2c53414.96b228","type":"debug","z":"7a2cec45.2ae184","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":620,"wires":[]},{"id":"f553337d.864c1","type":"inject","z":"7a2cec45.2ae184","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":620,"wires":[["79f8f2c8.446a8c"]]},{"id":"4773561c.5ae318","type":"change","z":"7a2cec45.2ae184","name":"Set Context to Edge.Extract","rules":[{"t":"set","p":"LFM_Context","pt":"global","to":"Edge.Extract","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":260,"wires":[[]]},{"id":"29066ac8.6df3d6","type":"comment","z":"b77691f7.3cf1c","name":"Core.Process Readme","info":"1) Process downloaded files from all Edges.\n2) Unzip\n3) Load Json file\n4) Upsert into Core LFM System (api calls to upsert the enrolment DB and add faces)\n5) rename images each iteration and Json on final completion \n","x":160,"y":60,"wires":[]},{"id":"7fac2b8b.154934","type":"function","z":"4529373b.028ad8","name":"++","func":"if ( (msg.i += 1) < msg.items.length ) return msg;\n","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["847bcf66.f8293"]]},{"id":"15daa3ec.93fbac","type":"function","z":"4529373b.028ad8","name":"for each item","func":"if( msg.i     === undefined ) msg.i = 0;\nif( msg.items === undefined ) msg.items = msg.payload;\n\nmsg.payload = msg.items[ msg.i ];\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["7fac2b8b.154934"]]},{"id":"847bcf66.f8293","type":"switch","z":"4529373b.028ad8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"msg"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":120,"wires":[["15daa3ec.93fbac"],[]]},{"id":"d8354c8e.8c377","type":"http in","z":"f330dad5.b30ca8","name":"","url":"/LFMEdgeDownload","method":"get","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["d29dd754.3601e8"]]},{"id":"138fa2bf.c7c28d","type":"file in","z":"f330dad5.b30ca8","name":"","filename":"","format":"","sendError":true,"x":710,"y":300,"wires":[["c9ac22cf.7645a"]]},{"id":"c9ac22cf.7645a","type":"change","z":"f330dad5.b30ca8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/octet-stream","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":200,"wires":[["a61bdde6.6e34e"]]},{"id":"a61bdde6.6e34e","type":"http response","z":"f330dad5.b30ca8","name":"","x":730,"y":140,"wires":[]},{"id":"d29dd754.3601e8","type":"function","z":"f330dad5.b30ca8","name":"Set Path","func":"msg.path = global.get(\"LFM_send_dir\")+'\\\\';\nmsg.archive_dir = global.get(\"LFM_archive_dir\")+'\\\\';\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":180,"wires":[["8aa5bb6d.21d0d8"]]},{"id":"66964da4.9ddc64","type":"inject","z":"f330dad5.b30ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["d29dd754.3601e8"]]},{"id":"8aa5bb6d.21d0d8","type":"fs-ops-dir","z":"f330dad5.b30ca8","name":"","path":"path","pathType":"msg","filter":"*","filterType":"str","dir":"Files","dirType":"msg","x":380,"y":180,"wires":[["d1b30f3e.e7856"]]},{"id":"d1b30f3e.e7856","type":"function","z":"f330dad5.b30ca8","name":"","func":"msg.filename = msg.archive_dir+msg.Files[0]\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["f77075b2.e75598"]]},{"id":"f77075b2.e75598","type":"fs-ops-move","z":"f330dad5.b30ca8","name":"","sourcePath":"path","sourcePathType":"msg","sourceFilename":"msg.Files[0]","sourceFilenameType":"msg","destPath":"archive_dir","destPathType":"msg","destFilename":"msg.Files[0]","destFilenameType":"msg","link":false,"x":440,"y":360,"wires":[["49561ff4.9623e","138fa2bf.c7c28d"]]},{"id":"d38b3c5a.35e95","type":"function","z":"4529373b.028ad8","name":"Get All Devices in Cluster","func":"\n\n\n    msg.payload = global.get('LFM_Cluster');\n\n    \n    return msg;\n","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["ebfe032c.7366e"]]},{"id":"b8db5e7c.5e5bd","type":"inject","z":"4529373b.028ad8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":280,"wires":[["d38b3c5a.35e95"]]},{"id":"c75eaf23.f893f","type":"debug","z":"4529373b.028ad8","name":"Device List to Process","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":200,"wires":[]},{"id":"ebfe032c.7366e","type":"split","z":"4529373b.028ad8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":280,"wires":[["c75eaf23.f893f","9e45a9ef.361828"]]},{"id":"48e1fc36.6ac2a4","type":"http request","z":"4529373b.028ad8","name":"","method":"GET","ret":"bin","url":"","tls":"","x":490,"y":380,"wires":[["7aa407b.ecdc5f8","f84afbe9.98cbc8"]]},{"id":"9e45a9ef.361828","type":"function","z":"4529373b.028ad8","name":"Download from Device","func":"msg.url = msg.payload.ipaddr +'/LFMEdgeDownload'\nmsg.filename =  msg.payload.id\nmsg.filename = global.get(\"LFM_receive_dir\")+'\\\\'+msg.payload.id+'_receive.7z';\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["48e1fc36.6ac2a4"]]},{"id":"7aa407b.ecdc5f8","type":"debug","z":"4529373b.028ad8","name":"File download Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":340,"wires":[]},{"id":"f84afbe9.98cbc8","type":"file","z":"4529373b.028ad8","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":680,"y":420,"wires":[]},{"id":"49561ff4.9623e","type":"debug","z":"f330dad5.b30ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":380,"wires":[]},{"id":"e14d08eb.6f4af8","type":"function","z":"b77691f7.3cf1c","name":"Set Received File Path","func":"msg.path = global.get(\"LFM_receive_dir\")+'\\\\';\nmsg.archive_dir = global.get(\"LFM_archive_dir\")+'\\\\';\n\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":160,"wires":[["c921a2ac.0578b"]]},{"id":"2fd180a.8402b8","type":"inject","z":"b77691f7.3cf1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["e14d08eb.6f4af8"]]},{"id":"c921a2ac.0578b","type":"fs-ops-dir","z":"b77691f7.3cf1c","name":"","path":"path","pathType":"msg","filter":"*","filterType":"str","dir":"Files","dirType":"msg","x":520,"y":160,"wires":[["11b69b4c.6d92d5"]]},{"id":"11b69b4c.6d92d5","type":"function","z":"b77691f7.3cf1c","name":"Set file name for 1st file in directory","func":"msg.filename = msg.archive_dir+msg.Files[0]\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["4ddce7ee.c43208"]]},{"id":"4ddce7ee.c43208","type":"fs-ops-move","z":"b77691f7.3cf1c","name":"","sourcePath":"path","sourcePathType":"msg","sourceFilename":"msg.Files[0]","sourceFilenameType":"msg","destPath":"archive_dir","destPathType":"msg","destFilename":"msg.Files[0]","destFilenameType":"msg","link":false,"x":120,"y":240,"wires":[["c36b97de.8f5408"]]},{"id":"12ce5595.c15d8a","type":"debug","z":"b77691f7.3cf1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":240,"wires":[]},{"id":"49dd63d1.1afbfc","type":"comment","z":"b77691f7.3cf1c","name":"todo:Split to process all files","info":"","x":720,"y":120,"wires":[]},{"id":"c36b97de.8f5408","type":"function","z":"b77691f7.3cf1c","name":"Setup to unpack/unzip","func":"msg.filename = msg.archive_dir+msg.Files[0]\nmsg.payload = global.get(\"LFM_7Zip_command\")+' x  ' + msg.archive_dir+msg.Files[0] +  ' -o\"' + global.get(\"LFM_tmp_dir\")+'\"' ;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["6193ec32.b43944"]]},{"id":"55f0e0bf.4693a","type":"split","z":"b77691f7.3cf1c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":20,"wires":[[]]},{"id":"6193ec32.b43944","type":"exec","z":"b77691f7.3cf1c","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":240,"wires":[["12ce5595.c15d8a","89a65c5f.594bd"],[],[]]},{"id":"5a162025.173c9","type":"file in","z":"b77691f7.3cf1c","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":650,"y":340,"wires":[["9f40989c.980fd8"]]},{"id":"ac6b92c4.68af8","type":"fs-ops-dir","z":"b77691f7.3cf1c","name":"","path":"path","pathType":"msg","filter":"*.json","filterType":"str","dir":"Files","dirType":"msg","x":300,"y":340,"wires":[["957db52b.076f28"]]},{"id":"7233996b.06c828","type":"comment","z":"b77691f7.3cf1c","name":"Find .json file and process","info":"","x":110,"y":300,"wires":[]},{"id":"89a65c5f.594bd","type":"function","z":"b77691f7.3cf1c","name":"Set Received File Path","func":"\nmsg.path = global.get(\"LFM_tmp_dir\")+'\\\\';\n\n\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":340,"wires":[["ac6b92c4.68af8"]]},{"id":"9bf3b145.7f1bb","type":"comment","z":"b77691f7.3cf1c","name":"Insert new person or update if already exists","info":"","x":250,"y":400,"wires":[]},{"id":"957db52b.076f28","type":"function","z":"b77691f7.3cf1c","name":"Set json File Path","func":"\nmsg.filename = global.get(\"LFM_tmp_dir\")+'\\\\'+msg.Files[0];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["5a162025.173c9"]]},{"id":"d2f915e5.aa7338","type":"debug","z":"b77691f7.3cf1c","name":"json file result in tmp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":320,"y":440,"wires":[]},{"id":"9f40989c.980fd8","type":"json","z":"b77691f7.3cf1c","name":"","property":"payload","action":"","pretty":false,"x":770,"y":340,"wires":[["13418e1f.d797c2"]]},{"id":"13418e1f.d797c2","type":"split","z":"b77691f7.3cf1c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":130,"y":440,"wires":[["d2f915e5.aa7338","ab97fc0c.c8cc5"]]},{"id":"ab97fc0c.c8cc5","type":"function","z":"b77691f7.3cf1c","name":"Retrieve the Person by Unique String","func":"\n\nmsg.url = 'http://'+global.get(\"LFM_edge_ipaddr\")+'/DBAccess.cgi?cmd=search_psn_info&pwd=lfm&ps=1000';\n\n//msg.headers = {};\n//msg.headers['Authorization'] = 'Bearer ' + global.get(\"gblAccess_Token\");\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":520,"wires":[["e1b9ecc.644fd1"]]},{"id":"e1b9ecc.644fd1","type":"http request","z":"b77691f7.3cf1c","name":"HttpRequest","method":"GET","ret":"txt","url":"","tls":"","x":430,"y":520,"wires":[["393dd428.37f39c"]]},{"id":"f45b444b.c2fee8","type":"exec","z":"4bb6a391.1b8fdc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":180,"wires":[["ccdb1a94.362718"],[],[]]},{"id":"6431768a.2b8098","type":"function","z":"4bb6a391.1b8fdc","name":"Pack and Send","func":"\n\n\n//msg.filename = global.get(\"LFM_tmp_dir\")+'\\\\'+'image_'+getAllUrlParams(msg.url).psn_id+'_'+getAllUrlParams(msg.url).img_no+'.jpg';\n\n//msg.payload = global.get(\"LFM_7Zip_command\")+' '+ global.get(\"LFM_send_dir\") + \"\\\\\"+global.get(\"LFM_edge_id\") + \"_send.7z \" + msg.payload;\nmsg.payload = global.get(\"LFM_7Zip_command\")+' a -t7z ' + 'd:\\\\node_red_backup.7z .node-red\\\\*' ;\n   \n    return msg;\n\n\n//\"C:\\Program Files\\7-Zip\\7z\" a -t7z \n// global.get(\"LFM_tmp_dir\")+\"\\\\*.*\";","outputs":1,"noerr":0,"x":280,"y":180,"wires":[["f45b444b.c2fee8"]]},{"id":"e842b10f.79fa6","type":"inject","z":"4bb6a391.1b8fdc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["6431768a.2b8098"]]},{"id":"ccdb1a94.362718","type":"debug","z":"4bb6a391.1b8fdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":180,"wires":[]},{"id":"393dd428.37f39c","type":"function","z":"b77691f7.3cf1c","name":"Prepare for Insert/Update","func":"\n\nmsg.url = 'http://'+global.get(\"LFM_edge_ipaddr\")+'/DBAccess.cgi?cmd=search_psn_info&pwd=lfm&ps=1000';\n\n//msg.headers = {};\n//msg.headers['Authorization'] = 'Bearer ' + global.get(\"gblAccess_Token\");\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":520,"wires":[["64d6dd30.3f7574"]]},{"id":"64d6dd30.3f7574","type":"http request","z":"b77691f7.3cf1c","name":"HttpRequest","method":"GET","ret":"txt","url":"","tls":"","x":870,"y":520,"wires":[[]]},{"id":"36a826d7.b9eeba","type":"fs-ops-delete","z":"b77691f7.3cf1c","name":"","path":"","pathType":"str","filename":"","filenameType":"msg","x":1030,"y":520,"wires":[[]]}]